nav {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 18px;
  height: 50px;
  position: relative;
}

.navbar-brand {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 18px;
  line-height: 3rem;
}

.nav-link {
  color: black;
}

.nav-link a:hover {
  color:#faaf40;
}

#navbarDropdown:hover {
  color: #faaf40;
}

#timmailto {
  background-color: #faaf40 !important;
  color: white;
  font-size: 25px;
  border: none !important;
}

#main-logo {
  width: 30%;
  margin: auto;
  align-items: center;
  text-align: center;
  position: absolute;
  display: block;
  top: 40%;
  left: 35%;
}

#footer {
  height: 100px;
  padding: 30px;
}

.trust {
  top: 50%;
}

#trust {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: auto;
  margin-top: 20%;
}

button {
  background-color: #faaf40;
}

/* INTRO SECTION */

#intro-head {
  padding: 50px;
  margin-top: 30px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#tr-quote {
  text-align: left;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;

}

#theo {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  margin: -30px 75px 70px 0;
  padding-right: 30px;
}

#intro {
  width: 100%;
  margin: 0 auto;
}

#tim {
  width: 100%;
  height: auto;
}

#tim-stand {
  height: auto;
  width: 100%;
}

#bio {
  width: 100%;
  margin: 20px 0 0 0;
  text-align: left;
  text-justify: inter-character;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: black;
  line-height: 1.25rem;
  letter-spacing: px;
}

.linkedin {
  display: flex;
  flex-direction: row;
  
}

.linkedin > a {
  
  color: black;
}

.fa-linkedin {
  color: #faaf40 !important;
  font-size: 2rem;
  margin-right: 10px;
}

/* TESTIMONIALS */

.testimonials {
  background-color: #faaf40;
}

#test-contain {
  margin: 0 auto;
}

#test-img {
  width: 100%;
  height: auto;
  margin: 50px 0 0 0;
  border-radius: 15px;
}

#test-img-s {
  width: 200px;
  height: 200px;
  margin: 30px 10px 0 0;
}

#test-name {
  margin: 10px 0 10px 0;
  padding: 0 0px 0 0px;
  font-family: futura-pt, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  text-align: center;
}

#test-name-s {
  margin-top: 10px;
  padding: 0 0 0 0px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: left;
  letter-spacing: 1px;
  text-align: center;
}

#test-role {
  margin-bottom: 5px;
  padding: 0px 0px 0 0px;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
}

#test-role-s {
  padding: 0px 0px 0 20px;
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  text-align: left;

}
#test-role-facapp {
  width: 250px;
  padding: 0px 75px 0 0;
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  text-align: center;

}

#test-quote {
  float: right;
  width: 100%;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.25rem;
  margin-top: 10px;
  text-align: left;
  text-justify: inter-character;
}

#test-head {
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 20px 0 0 0;
  padding: 20px;
}

#test-light {
  height: 75px;
  display: inline-block;
  margin-top: 40px;
}

#spacer {
  height: 100px;
}

.yellow-rule {
  height: 1rem;
  background-color: #faaf40;
  margin-top: 3rem;
}

/* SERVICES */

.services {
  margin-top: 3rem;
}

.card {
  align-items: center;
  align-content: center;
  font-family: futura-pt, sans-serif;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: none;
}

.service-head {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.service-text {
  font-size: 14pt;
  line-height: 1.5rem;
}

.service-text > li {
  margin-left: 2rem;
}

.service-bulb {
  width: 20%;
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#bulb2 {
  width: 12%;
  height: auto;
  margin-bottom: 10px;
}

#bulb3 {
  width: 12%;
  height: auto;
  margin-bottom: 15px;
}

/* FOOTER */

.footer {
  height: 200px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-top: 5px;
}

#basedin {
  
}

#contact-links {
  font-size: 25px;
  color: #faaf40;
  margin-top: 15px;
}

.links {
  
}

@media only screen and (min-width: 460px) {

nav {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 18px;
  height: 50px;
  position: relative;
}

.navbar-brand {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 20px;
  line-height: 3rem;
}

.nav-link {
  color: black;
}

.nav-link a:hover {
  color:#faaf40;
}

#navbarDropdown:hover {
  color: #faaf40;
}

#timmailto {
  background-color: #faaf40 !important;
  color: white;
  font-size: 25px;
  border: none !important;
}

#main-logo {
  width: 25%;
  margin: auto;
  align-items: center;
  text-align: center;
  position: absolute;
  display: block;
  top: 40%;
  left: 40%;
}

#footer {
  height: 100px;
  padding: 30px;
}

.trust {
  top: 50%;
}

#trust {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  margin-top: 20%;
}

button {
  background-color: #faaf40;
}

/* INTRO SECTION */

#intro-head {
  padding: 50px;
  margin-top: 30px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#tr-quote {
  text-align: left;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin: 20px 80px 0 0px;
}

#theo {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
  margin: -30px 75px 70px 0;
  padding-right: 30px;
}

#intro {
  width: 100%;
  margin: 0 auto;
}

#tim {
  width: 100%;
  height: auto;
}

#tim-stand {
  height: auto;
  width: 100%;
}

#bio {
  width: 100%;
  margin: 20px 0 0 0;
  text-align: left;
  text-justify: inter-character;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: black;
  line-height: 1.25rem;
  letter-spacing: px;
}

/* TESTIMONIALS */

.testimonials {
  background-color: #faaf40;
}

#test-contain {
  margin: 0 auto;
}

#test-img {
  width: 150px;
  height: 150px;
  margin: 50px 0 0 0;
  border-radius: 15px;
}

#test-img-s {
  width: 200px;
  height: 200px;
  margin: 30px 10px 0 0;
}

#test-name {
  margin-top: 10px;
  width: 200px;
  padding: 0 40px 0 0px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  text-align: center;
}

#test-name-s {
  margin-top: 10px;
  width: 200px;
  padding: 0 0 0 0px;
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: left;
  letter-spacing: 1px;
  text-align: center;
}

#test-role {
  width: 60%;
  float: left;
  padding: 0px 90px 0 0px;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-size: 12px;
  color: white;
  letter-spacing: 1px;

}

#test-role-s {
  width: 250px;
  padding: 0px 0px 0 0;
  font-family: futura-pt, sans-serif;
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
  text-align: left;

}
#test-role-facapp {
  width: 250px;
  padding: 0px 75px 0 0;
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  text-align: center;

}

#test-quote {
  float: right;
  width: 100%;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.25rem;
  margin-top: 10px;
}

#test-head {
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  margin: 20px 0 0 0;
  padding: 20px;
}

#test-light {
  height: 75px;
  display: inline-block;
  margin-top: 40px;
}

#spacer {
  height: 100px;
}


/* FOOTER */

.footer {
  height: 200px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-top: 25px;
}

#basedin {
  margin-left: 1rem;
}

#contact-links {
  font-size: 40px;
  color: #faaf40;
}

.links {
  margin-left: 1rem;
}
}

@media only screen and (min-width:760px) {

  nav {
      font-family: futura-pt, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: black;
      font-size: 18px;
      height: 50px;
      position: relative;
    }
  
    .navbar-brand {
      font-family: futura-pt, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: black;
      font-size: 30px;
      line-height: 3rem;
    }
  
    .nav-link {
      color: black;
    }
  
    #navbarDropdown:hover {
      color: #faaf40;
    }
  
    #timmailto {
      background-color: #faaf40 !important;
      color: white;
      font-size: 25px;
      border: none !important;
    }
  
    #main-logo {
      width: 25%;
      margin: auto;
      align-items: center;
      text-align: center;
      position: absolute;
      display: block;
      top: 40%;
      left: 40%;
    }
  
    #footer {
      height: 100px;
      padding: 30px;
    }
  
    .trust {
      top: 50%;
    }
  
    #trust {
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      text-align: center;
      padding: 20px;
      width: 100%;
      height: auto;
      margin-bottom: 30px;
      margin-top: 20%;
    }
  
    button {
      background-color: #faaf40;
    }
  
    /* INTRO SECTION */
  
    #intro-head {
      padding: 50px;
      margin-top: 30px;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  
    #tr-quote {
      text-align: left;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      width: 100%;
    }
  
    #theo {
      float: right;
      font-family: Arial, Helvetica, sans-serif;
      font-size:18px;
      font-weight: lighter;
      font-style: italic;
      margin: -30px 75px 70px 0;
      padding-right: 30px;
    }
  
    #intro {
      width: 100%;
      margin: 0 auto;
    }
  
    #tim {
      width: 100%;
      height: auto;
    }

    #tim-stand {
      height: auto;
      width: 100%;
    }
  
    #bio {
      width: 100%;
      margin: 20px 0 0 0;
      text-align: left;
      text-justify: inter-character;
      font-family: futura-pt, sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      color: black;
      line-height: 1.25rem;
      letter-spacing: px;
    }
  
    /* TESTIMONIALS */
  
    .testimonials {
      background-color: #faaf40;
    }
  
    #test-contain {
      margin: 0 auto;
    }
  
    #test-img {
      width: 250px;
      height: 250px;
      margin: 50px 0 0 0;
      border-radius: 15px;
    }
  
    #test-img-s {
      width: 200px;
      height: 200px;
      margin: 30px 10px 0 0;
    }
  
    #test-name {
      margin-top: 10px;
      width: 200px;
      padding: 0 0 0 40px;
      font-family: futura-pt, sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-align: center;
      letter-spacing: 1px;
      text-align: center;
    }

    #test-name-s {
      margin-top: 10px;
      width: 200px;
      padding: 0 0 0 40px;
      font-family: futura-pt, sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: white;
      text-align: center;
      letter-spacing: 1px;
      text-align: center;
    }
  
    #test-role {
      width: 60%;
      float: left;
      padding: 0px 50px 0 0px;
      text-align: center;
      font-family: futura-pt, sans-serif;
      font-size: 14px;
      color: white;
      letter-spacing: 1px;
  
    }
  
    #test-role-s {
      width: 250px;
      padding: 0px 0px 0 0;
      font-family: futura-pt, sans-serif;
      font-size: 12px;
      color: white;
      letter-spacing: 1px;
      text-align: center;
  
    }
    #test-role-facapp {
      width: 250px;
      padding: 0px 0px 0 0;
      font-family: futura-pt, sans-serif;
      font-size: 14px;
      color: white;
      letter-spacing: 1px;
      text-align: center;
  
    }
  
    #test-quote {
      float: right;
      width: 100%;
      padding: 5px;
      font-family: futura-pt, sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      color: black;
      line-height: 1.25rem;
      margin-top: 10px;
    }
  
    #test-head {
      text-align: center;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 50px;
      margin: 20px 0 0 0;
      padding: 20px;
    }
  
    #test-light {
      height: 75px;
      display: inline-block;
      margin-top: 40px;
    }
  
    #spacer {
      height: 100px;
    }
  

  
    /* FOOTER */
  
    .footer {
      height: 200px;
      font-family: futura-pt, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 20px;
      margin-top: 25px;
    }
  
    #basedin {
      margin-left: 2rem;
    }
  
    #contact-links {
      font-size: 40px;
      color: #faaf40;
    }
  
    .links {
      margin-left: 2rem;
    }
  }

@media only screen and (min-width:990px) {

  nav {
      font-family: futura-pt, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: black;
      font-size: 18px;
      height: 50px;
      position: relative;
    }
  
    .navbar-brand {
      font-family: futura-pt, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: black;
      font-size: 30px;
      line-height: 3rem;
    }
  
    .nav-link {
      color: black;
    }
  
    #navbarDropdown:hover {
      color: #faaf40;
    }
  
    #timmailto {
      background-color: #faaf40 !important;
      color: white;
      font-size: 25px;
      border: none !important;
    }
  
    #main-logo {
      width: 25%;
      margin: auto;
      align-items: center;
      text-align: center;
      position: absolute;
      display: block;
      top: 40%;
      left: 40%;
    }
  
    #footer {
      height: 100px;
      padding: 30px;
    }
  
    .trust {
      top: 50%;
    }
  
    #trust {
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 45px;
      text-align: center;
      padding: 20px;
      width: 100%;
      height: auto;
      margin-bottom: 30px;
      margin-top: 20%;
    }
  
    button {
      background-color: #faaf40;
    }
  
    /* INTRO SECTION */
  
    #intro-head {
      padding: 50px;
      margin-top: 30px;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  
    #tr-quote {
      text-align: left;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      width: 100%;
    }
  
    #theo {
      float: right;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: lighter;
      font-style: italic;
      margin: -40px 75px 70px 0;
      padding-right: 30px;
    }
  
    #intro {
      width: 100%;
      margin: 0 auto;
    }
  
    #tim {
      float: left;
      width: 50%;
      height: auto;
    }

    #tim-stand {
      height: auto;
      width: 100%;
    }
  
    #bio {
      float: right;
      width: 48%;
      margin: 0 0 0 0;
      text-align: justify;
      text-justify: inter-character;
      font-family: futura-pt, sans-serif;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      color: black;
      line-height: 1.25rem;
      letter-spacing: .5px;
    }
  
    /* TESTIMONIALS */
  
    .testimonials {
      background-color: #faaf40;
    }
  
    #test-contain {
      margin: auto;
    }
  
    #test-img {
   align-items: center;
      width: 150px;
      height: 150px;
      margin: 30px 0 0 0;
      border-radius: 15px;
    }
  
    #test-img-s {
 display: inline-block;
      width: 200px;
      height: 200px;
      margin: 30px 10px 0 0;
    }
  
    .test-images {
      width: 100%;
      margin-left: 20px;
    }
  
    #test-name {
      margin-top: 10px;
      width: 200px;
      padding: 0 50px 0 0;
      font-family: futura-pt, sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: white;
      text-align: center;
      letter-spacing: 1px;
      text-align: center;
    }
  
    #test-role {
      width: 100%;
      float: left;
      padding: 0px 45px 0 0;
      font-family: futura-pt, sans-serif;
      font-size: 14px;
      color: white;
      letter-spacing: 1px;
      text-align: center;
  
    }

    #test-name-s {
      margin: 0 0 10px -35px;
    }
  
    #test-role-s {
      padding: 0px 5px 0 5px;
      font-family: futura-pt, sans-serif;
      font-size: 12px;
      color: white;
      letter-spacing: 1px;
      margin-left: -35px;
    }
    #test-role-facapp {
      width: 250px;
      padding: 0px 0px 0 0;
      font-family: futura-pt, sans-serif;
      font-size: 12px;
      color: white;
      letter-spacing: 1px;
      margin-left: -45px;
      text-align: center;
  
    }
  
    #test-quote {
      float: right;
      width: 100%;
      margin: 35px 15px 0px 0px;
      font-family: futura-pt, sans-serif;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      color: black;
      text-align: justify;
      text-justify: inter-character;
      line-height: 1.25rem;
    }
  
    #test-head {
      text-align: center;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 50px;
      margin: 20px 0 0 0;
      padding: 20px;
    }
  
    #test-light {
      height: 75px;
      display: inline-block;
      margin-top: 40px;
    }
  
    #spacer {
      height: 100px;
    }
 
  
    /* FOOTER */
  
    .footer {
      height: 200px;
      font-family: futura-pt, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 25px;
      background-color: white;

      padding: 20px;
    }

    #footer-text {
      margin-bottom: 15px;
    }
  
    #contact-links {
      display: inline-block;
      font-size: 45px;
      color: #faaf40;
    }
 .links {
   margin-left: -70%;
 }
  }

  @media only screen and (min-width:1000px) {

    nav {
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 18px;
        height: 100px;
        position: relative;
      }
    
      .navbar-brand {
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: 35px;
        line-height: 3rem;
      }
    
      .nav-link {
        color: black;
      }
    
      #navbarDropdown:hover {
        color: #faaf40;
      }
    
      #timmailto {
        background-color: #faaf40 !important;
        color: white;
        font-size: 25px;
        border: none !important;
      }
    
      #main-logo {
        width: 25%;
        margin: auto;
        align-items: center;
        text-align: center;
        position: absolute;
        display: block;
        top: 60%;
        left: 35%;
      }
    
      #footer {
        height: 100px;
        padding: 30px;
      }
    
      .trust {
        top: 50%;
      }
    
      #trust {
        font-family: futura-pt, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        text-align: center;
        padding: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-top: 25%;
      }
    
      button {
        background-color: #faaf40;
      }
    
      /* INTRO SECTION */
    
      #intro-head {
        padding: 50px;
        margin-top: 30px;
        font-family: futura-pt, sans-serif;
        font-weight: 700;
        font-style: normal;
      }
    
      #tr-quote {
        text-align: left;
        font-family: futura-pt, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
      
      }
    
      #theo {
        float: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: lighter;
        font-style: italic;
        margin: -30px 75px 70px 0;
      }
    
      #intro {
        width: 100%;
        margin: 0 auto;
      }
    
      #tim-stand {
        height: auto;
        width: 100%;
      }
    
      #tim {
        float: left;
        width: 50%;
        height: auto;
      }
    
      #bio {
        float: right;
        width: 48%;
        margin: 0 0 0 0;
        text-align: justify;
        text-justify: inter-character;
        font-family: futura-pt, sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        color: black;
        line-height: 1.55rem;
        letter-spacing: 1px;
      }
    
      /* TESTIMONIALS */
    
      .testimonials {
        background-color: #faaf40;
      }
    
      #test-contain {
        margin: auto;
      }
    
      #test-img {
        vertical-align: baseline;
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 50px 20px 0 30px;
      }
    
      #test-img-s {
        vertical-align: baseline;
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 30px 10px 0 0;
      }
    
      #test-name {
        width: 200px;
        padding: 0px 10px 0px 10px;
       margin-left: 30px;
        font-family: futura-pt, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: center;
        letter-spacing: 1px;
      }
    
      #test-role {
        width: 250px;
        margin-left: 30px;
        padding: 0px 45px 0 0;
        font-family: futura-pt, sans-serif;
        font-size: 20px;
        color: white;
        letter-spacing: 1px;
        text-align: center;
      }
    
      #test-name-s {
        padding: 0px 0px 0 0;
        font-family: futura-pt, sans-serif;
        font-size: 18px;
        color: white;
        letter-spacing: 1px;
        justify-content: center;
        margin-left: 30px;
      }
    
      #test-role-s {
        padding: 0px 0px 0 0;
        font-family: futura-pt, sans-serif;
        font-size: 16px;
        color: white;
        letter-spacing: 1px;
        justify-content: center;
        margin-left: 10px;
      }
    
      #test-quote {
        float: right;
        justify-content: left;
        width: 100%;
        margin: 60px 50px 0 20px;
        padding-left: 25px;
        font-family: futura-pt, sans-serif;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: black;
        line-height: 1.5rem;
      }
    
      #test-head {
        text-align: center;
        font-family: futura-pt, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 50px;
        margin: 20px 0 0 0;
        padding: 20px;
      }
    
      #test-light {
        height: 100px;
        display: inline-block;
        margin-top: 60px;
      }
    
      #spacer {
        height: 100px;
      }
    

    
      /* FOOTER */
    
      .footer {
        height: 200px;
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 30px;
        margin-top: 25px;
      }
    
      #basedin {
        margin-left: 8rem;
      }
    
      #contact-links {
        font-size: 40px;
        color: #faaf40;
      }
    
      .links {
        margin-left: 8rem;
      }
    }
    

@media only screen and (min-width:1400px) {

nav {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 18px;
    height: 100px;
    position: relative;
  }

  .navbar-brand {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 35px;
    line-height: 3rem;
  }

  .nav-link {
    color: black;
  }

  #navbarDropdown:hover {
    color: #faaf40;
  }

  #timmailto {
    background-color: #faaf40 !important;
    color: white;
    font-size: 25px;
    border: none !important;
  }

  #main-logo {
    width: 25%;
    margin: auto;
    align-items: center;
    text-align: center;
    position: absolute;
    display: block;
    top: 60%;
    left: 35%;
  }

  #footer {
    height: 100px;
    padding: 30px;
  }

  .trust {
    top: 50%;
  }

  #trust {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 25%;
  }

  button {
    background-color: #faaf40;
  }

  /* INTRO SECTION */

  #intro-head {
    padding: 50px;
    margin-top: 30px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  #tr-quote {
    text-align: left;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
  
  }

  #theo {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    font-style: italic;
    margin: -30px 75px 70px 0;
  }

  #intro {
    width: 100%;
    margin: 0 auto;
  }

  #tim-stand {
    height: auto;
    width: 100%;
  }

  #tim {
    float: left;
    width: 50%;
    height: auto;
  }

  #bio {
    float: right;
    width: 48%;
    margin: 0 0 0 0;
    text-align: justify;
    text-justify: inter-character;
    font-family: futura-pt, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: black;
    line-height: 1.55rem;
    letter-spacing: 1px;
  }

  /* TESTIMONIALS */

  .testimonials {
    background-color: #faaf40;
  }

  #test-contain {
    margin: auto;
  }

  #test-img {
    vertical-align: baseline;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 50px 0 0 50px;
  }

  #test-img-s {
    vertical-align: baseline;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 30px 10px 0 0;
  }

  #test-name {
    width: 200px;
    padding: 0px 10px 0px 10px;
   margin-left: 50px;
    font-family: futura-pt, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 1px;
  }

  #test-role {
    width: 250px;
    margin-left: 50px;
    padding: 0px 45px 0 0;
    font-family: futura-pt, sans-serif;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
  }

  #test-name-s {
    padding: 0px 0px 0 0;
    font-family: futura-pt, sans-serif;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    justify-content: center;
    margin-left: 50px;
  }

  #test-role-s {
    padding: 0px 0px 0 0;
    font-family: futura-pt, sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    justify-content: center;
    margin-left: 30px;
  }

  #test-quote {
    float: right;
    justify-content: left;
    width: 100%;
    margin: 60px 50px 0 0px;
    font-family: futura-pt, sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    color: black;
    line-height: 2.2rem;
  }

  #test-head {
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    margin: 20px 0 0 0;
    padding: 20px;
  }

  #test-light {
    height: 100px;
    display: inline-block;
    margin-top: 60px;
  }

  #spacer {
    height: 100px;
  }


  /* FOOTER */

  .footer {
    height: 200px;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin-top: 25px;
  }

  #basedin {
    margin-left: 20rem;
  }

  #contact-links {
    font-size: 40px;
    color: #faaf40;
  }

  .links {
    margin-left: 20rem;
  }
}
