nav {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 18px;
  height: 50px;
  position: relative;
}

.navbar-brand {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 18px;
  line-height: 3rem;
}

.nav-link {
  color: black;
}

.nav-link a:hover {
  color:#faaf40;
}

#navbarDropdown:hover {
  color: #faaf40;
}

#timmailto {
  background-color: #faaf40 !important;
  color: white;
  font-size: 25px;
  border: none !important;
}

#main-logo {
  width: 40%;
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;

}

#footer {
  height: 100px;
  padding: 30px;
}

#trust {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

button {
  background-color: #faaf40;
}

/* INTRO SECTION */

#intro-head {
  padding: 50px;
  margin-top: 30px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#tr-quote {
  text-align: left;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;

}

#theo {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  margin: -30px 75px 70px 0;
  padding-right: 30px;
}

.roosevelt {
  height: 10rem;
  margin-top: 2rem;
}

#intro {
  width: 100%;
  margin: 0 auto;
}

#tim {
  width: 100%;
  height: auto;
}

#tim-stand {
  height: auto;
  width: 100%;
}

#bio {
  width: 100%;
  margin: 20px 0 0 0;
  text-align: left;
  text-justify: inter-character;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: black;
  line-height: 1.25rem;
  letter-spacing: px;
}

.linkedin {
  display: flex;
  flex-direction: row;
  
}

.linkedin > a {
  
  color: black;
}

.fa-linkedin {
  color: #faaf40 !important;
  font-size: 2rem;
  margin-right: 10px;
}

/* TESTIMONIALS */

.testimonials {
  background-color: #faaf40;
}

#test-contain {
  margin: 0 auto;
}

#test-img {
  width: 100%;
  height: auto;
  margin: 50px 0 0 0;
  border-radius: 15px;
  border-color: black;
}

#test-img-s {
  width: 200px;
  height: 200px;
  margin: 30px 10px 0 0;
}

#test-name {
  margin: 10px 0 10px 0;
  padding: 0 0px 0 0px;
  font-family: futura-pt, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  text-align: center;
}

#test-name-s {
  margin-top: 10px;
  padding: 0 0 0 0px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: left;
  letter-spacing: 1px;
  text-align: center;
}

#test-role {
  margin-bottom: 5px;
  padding: 0px 0px 0 0px;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
}

#test-role-s {
  padding: 0px 0px 0 20px;
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  text-align: left;

}
#test-role-facapp {
  width: 250px;
  padding: 0px 75px 0 0;
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  text-align: center;

}

#test-quote {
  float: right;
  width: 100%;
  padding: 5px;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: black;
  line-height: 1.25rem;
  margin-top: 10px;
  text-align: left;
  text-justify: inter-character;
}

#test-head {
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 20px 0 0 0;
  padding: 20px;
}

#test-light {
  height: 75px;
  display: inline-block;
  margin-top: 40px;
}

#spacer {
  height: 100px;
}

.yellow-rule {
  height: 1rem;
  background-color: #faaf40;
  margin-top: 3rem;
}

/* SERVICES */

.services {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}

.service-header {
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 20px 0 0 0;
  padding: 20px;
  margin-bottom: -2rem;
}

.card {
  align-items: center;
  align-content: center;
  font-family: futura-pt, sans-serif;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: none;
}

.service-head {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.service-text {
  font-size: 14pt;
  line-height: 1.5rem;
}

.service-text > li {
  margin-left: 2rem;
}

.service-bulb {
  width: 20%;
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#bulb2 {
  width: 12%;
  height: auto;
  margin-bottom: 10px;
}

#bulb3 {
  width: 12%;
  height: auto;
  margin-bottom: 15px;
}

.contact-me {
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: futura-pt, sans-serif;
  font-size: 1.5rem;
  height: 20rem;
  padding: 2rem;
}

#contact-link {
  margin-top: 2rem !important;
  color: black;
}


/* FOOTER */

.footer {
  height: 200px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-top: 5px;
}

#contact-links {
  font-size: 25px;
  color: #faaf40;
  margin-top: 15px;
}

.erica-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
    }

    .small-videos {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      width: 100%;
    }

    .small {
      width: 100%;
      height: 300px;
    }

    .erica-vid {
      font-family: futura-pt, sans-serif;
      font-weight: bold;
      font-size: 2.5em;
    }

    .erica-vid-sub {
      font-family: futura-pt, sans-serif;
      font-size: 1.5em;
      padding: 1% 0 2% 0;
    }

    .reputation {
      margin: 0 5px 0 5px;
    }

    .card-text {
      font-family: futura-pt, sans-serif;
      font-size: 1.5em;
      text-align: center;
    }

    .video-card {
      margin-top: 5%;
    }


@media only screen and (min-width:769px) {

  nav {
      font-family: futura-pt, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: black;
      font-size: 18px;
      height: 50px;
      position: relative;
    }
  
    .navbar-brand {
      font-family: futura-pt, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: black;
      font-size: 30px;
      line-height: 3rem;
    }
  
    .nav-link {
      color: black;
    }
  
    #navbarDropdown:hover {
      color: #faaf40;
    }
  
    #timmailto {
      background-color: #faaf40 !important;
      color: white;
      font-size: 25px;
      border: none !important;
    }

    .services {
      margin-top: 5rem;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: row;
    }
  
    #footer {
      height: 100px;
      padding: 30px;
    }
  
    button {
      background-color: #faaf40;
    }
  
    /* INTRO SECTION */
  
    #intro-head {
      padding: 50px;
      margin-top: 30px;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  
    #tr-quote {
      text-align: left;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 40px;
      width: 100%;
    }
  
    #theo {
      float: right;
      font-family: Arial, Helvetica, sans-serif;
      font-size:18px;
      font-weight: lighter;
      font-style: italic;
      margin: -30px 75px 70px 0;
      padding-right: 30px;
    }
  
    #intro {
      width: 100%;
      margin: 0 auto;
    }
  
    #tim {
      width: 100%;
      height: auto;
    }

    #tim-stand {
      height: auto;
      width: 100%;
    }
  
    #bio {
      width: 100%;
      margin: 20px 0 0 0;
      text-align: left;
      text-justify: inter-character;
      font-family: futura-pt, sans-serif;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      color: black;
      line-height: 1.25rem;
      letter-spacing: px;
    }

    #trust {
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2rem;
      text-align: center;
      padding: 20px;
      width: 100%;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .roosevelt {
      height: 20rem;
      margin-top: 6rem;
    }

    .contact-me {
      margin-top: 3rem;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-family: futura-pt, sans-serif;
      font-size: 2rem;
      height: 20rem;
      padding: 2rem;
    }
    
    #contact-link {
      margin-top: 2rem !important;
      color: black;
    }
  
    /* TESTIMONIALS */
  
    .testimonials {
      background-color: #faaf40;
    }
  
    #test-contain {
      margin: 0 auto;
    }
  
    #test-img {
      width: 250px;
      height: 250px;
      margin: 50px 0 0 0;
      border-radius: 15px;
    }
  
    #test-img-s {
      width: 200px;
      height: 200px;
      margin: 30px 10px 0 0;
    }
  
    #test-name {
      margin-top: 10px;
      width: 200px;
      padding: 0 0 0 40px;
      font-family: futura-pt, sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-align: center;
      letter-spacing: 1px;
      text-align: center;
    }

    #test-name-s {
      margin-top: 10px;
      width: 200px;
      padding: 0 0 0 40px;
      font-family: futura-pt, sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: white;
      text-align: center;
      letter-spacing: 1px;
      text-align: center;
    }
  
    #test-role {
      width: 100%;
      padding: 0px 2rem 0 0px;
      text-align: center;
      font-family: futura-pt, sans-serif;
      font-size: 18px;
      color: white;
      letter-spacing: 1px;
      margin: 0 auto;
    }
  
    #test-role-s {
      width: 250px;
      padding: 0px 0px 0 0;
      font-family: futura-pt, sans-serif;
      font-size: 16px;
      color: white;
      letter-spacing: 1px;
      text-align: center;
  
    }
    #test-role-facapp {
      width: 250px;
      padding: 0px 0px 0 0;
      font-family: futura-pt, sans-serif;
      font-size: 14px;
      color: white;
      letter-spacing: 1px;
      text-align: center;
  
    }
  
    #test-quote {
      float: right;
      width: 100%;
      padding: 5rem;
      font-family: futura-pt, sans-serif;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      color: black;
      line-height: 1.25rem;
      margin-top: 10px;
      align-content: center;
    }
  
    #test-head {
      text-align: center;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 50px;
      margin: 20px 0 0 0;
      padding: 20px;
    }
  
    #test-light {
      height: 75px;
      display: inline-block;
      margin-top: 40px;
    }
  
    #spacer {
      height: 100px;
    }
  

  
    /* FOOTER */
  
    .footer {
      height: 200px;
      font-family: futura-pt, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 20px;
      margin-top: 25px;
    }
  
    #basedin {
      margin-left: 2rem;
    }
  
    #contact-links {
      font-size: 40px;
      color: #faaf40;
    }
  
    .links {
      margin-left: 2rem;
    }

    .erica-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
    }

    .small-videos {
      display: flex;
      flex-direction: row;
      padding-top: 10px;
      justify-content: space-evenly;
      align-items: stretch;
    }

    .small {
      width: 100%;
      height: auto;
    }

    .erica-vid {
      font-family: futura-pt, sans-serif;
      font-weight: bold;
      font-size: 2.5em;
    }

    .erica-vid-sub {
      font-family: futura-pt, sans-serif;
      font-size: 1.5em;
      padding: 1% 0 2% 0;
    }

    .video-text {
      font-family: futura-pt, sans-serif;
      font-size: 1.5em;
      text-align: left;
      height: 100px;
    }

    .card {
      margin-top: 5%;
    }
  }

@media only screen and (min-width:992px) {
  .services {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
  }

  .small-videos {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-evenly;
  }

  .small {
    width: 98%;
    height: 250px;
  }

  .reputation {
    width: 100%;
    height: 250px;
  }
  
  .small-vid-text {
      height: 30%;
  }

  #middle-vid {
    margin-top: 5px;
  }

  #first-vid {
    margin-top: 15px;
  }

  #bio {
    width: 100%;
    margin: 20px 0 0 0;
    text-align: left;
    text-justify: inter-character;
    font-family: futura-pt, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    color: black;
    line-height: 1.25rem;
    letter-spacing: px;
  }
}

  @media only screen and (min-width:1200px) {

    .yellow-rule {
      height: 1rem;
      background-color: #faaf40;
      margin-top: 12rem;
    }
    .small-videos {
      display: flex;
      flex-direction: row;
      padding-top: 10px;
      justify-content: space-evenly;
    }

    .small {
      width: 98%;
      height: 250px;
      
    }

    .reputation {
      width: 100%;
      height: 250px;
    }
  }